.section2{
	display: flex;
	flex-direction: column;
	margin-top: 80px;
	background-color:white;
	margin-left: 95px;
	margin-right: 95px;
	}
.smal1{
	background-color:#6246EA;
	color:white;
	padding: 20px 23px 19px;
	border-radius: 8px;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	text-transform: capitalize;
	margin-top:80px;
	margin-left: auto;
	margin-right: auto;
}
.sec1,.sec2,.sec3,.sec4{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-left: 10px;
}

.write1,.write2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 24px;
}
.text2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post{
margin-top: 40px;
}
.Posts1, .Posts2,.Posts3,.Posts4{
display: flex;
justify-content: space-around;
padding-bottom: 60px;
}

