.smal{
display: flex;
align-items: center;
color: #FFFFFE;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
flex-direction: row;
background-color: #6246EA;
width: 213px;
height: 44px;
text-transform: capitalize;
border-radius: 4px;
}

.button_title::before {
content: url('./simple-icons.png');
width: 24px;
height: 24px;
padding-right: 10px;
padding-left: 10px;
}