.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    background-color: #EFF0F3;
}

.text3{
    margin-top: 20px;
    margin-bottom: 20px;
     padding-right: 30px;
    display: flex;
    flex-direction: column;
    }
.subscribe2{
font-size: 36px;
margin: 0;
}
.text1{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        font-size: 24px;
}  
.button1{
display: flex;
gap: 20px;
 margin-bottom: 50px;
}
