.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    background-color: #EFF0F3;
}

.text3{   
display: flex;
flex-direction: column;
margin-top: 20px;
margin-bottom: 20px;
}
h2{
font-size: 36px;
margin: 0;
}
.subscribe2{
display: flex;
flex-direction: row-reverse;
align-items: center;
font-size: 20px;
color: #9A9494;
}  
.button1{
display: flex;
gap: 20px;
margin-bottom: 50px;
}
