.nav_item{
	display: flex;
	align-items: center;
	text-decoration: none;
	padding-right: 40px;
	color:#2B2C34;
   font-size: 20px;
   font-family: 'PlusJakartaSans-Bold',sans-serif;	
font-weight: 700;
font-style: normal;
}
.lupa{
padding-right: 10px;
}