.smell{
display: flex;
background-color:#6246EA;
color:white;
padding: 20px 23px 19px;
border-radius: 8px;
font-style: normal;
font-weight: 700;
font-size: 20px;
text-transform: capitalize;
}
.frame6{
display: flex;
background-color: white;
padding: 21px 200px 21px 25px;
border-radius: 8px;
}