@font-face {
font-family: 'PlusJakartaSans-Bold';
src: url(./assets/fonts/static/PlusJakartaSans-Bold.ttf) format('ttf');
}

.navBar{
font-family: 'PlusJakartaSans-Bold',sans-serif;	
font-weight: 700;
font-style: normal;
}
.block_item1{
	font-family: 'PlusJakartaSans-Bold',sans-serif;	
	font-weight: 700;
	font-style: normal;
}
.subscribe1{
font-family: 'PlusJakartaSans-Bold',sans-serif;	
font-weight: 400;
font-style: normal;
}
.headline{
font-family: 'PlusJakartaSans-Bold',sans-serif;	
font-style: normal;
font-weight: 700;
text-transform: capitalize;
}

.linkheadls{
font-family: 'PlusJakartaSans-Bold',sans-serif;	
font-weight: 700;
font-style: normal;
text-transform: uppercase;
}

.textlittle{
	font-family: 'PlusJakartaSans-Bold',sans-serif;	
	font-weight: 400;
	font-style: normal;
	color:#2B2C34;
}


.linkLittle{
	font-family: 'PlusJakartaSans-Bold',sans-serif;	
	font-weight: 400;
	font-style: normal;
	color: #2B2C34;
	}
